<app-header></app-header>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
        <i class="la la-close"></i>
    </button>

    <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
            <!-- BEGIN: Aside Menu -->
        <div 
            id="m_ver_menu" 
            class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " 
            data-menu-vertical="true"
                data-menu-scrollable="false" data-menu-dropdown-timeout="500">
            <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow "> 
                <li class="m-menu__item" routerLink="/dashboard" aria-haspopup="true" routerLinkActive=" m-menu__item--active" [routerLinkActiveOptions]="{exact: true}">
                    <a  href="javascript:void(0)" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-layers"></i>
                        <span class="m-menu__link-text">
                            Dashboard
                        </span>
                    </a>
                </li>
                <li class="m-menu__item" aria-haspopup="true" routerLink="/dashboard/enroll/list" aria-haspopup="true" routerLinkActive=" m-menu__item--active" [routerLinkActiveOptions]="{exact: true}" >
                    <a  href="javascript:void(0)" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-layers"></i>
                        <span class="m-menu__link-text">
                            Enrollees
                        </span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- END: Aside Menu -->
    </div>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <router-outlet></router-outlet>
    </div>
</div>
